<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <title>Exante - <%= @title %></title>
    
    <meta name="description" content="An event planning application">
    
    <!--link rel="stylesheet" href="/css/screen.css"-->
    <!--link rel="stylesheet" href="/css/jq/smoothness/jquery-ui.css"-->
	<link rel="stylesheet" href="/css/jquery.mobile-1.0a4.1.min.css" />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/jquery.mobile-1.0a4.1.min.js"></script>
	<%if @script%>
		<script src="/js/<%= @script %>"></script>
	<%end%>
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

</head>

<body>
    <div data-role="page" class="page">
	  <div data-role="header" class="header">
		<h1>Exante</h1>
	  </div><!-- header -->
	  <div data-role="content" class="content">
		<h2><%= @title %></h2>
		<%= yield %>
	  </div><!-- content -->
	  <div data-role="footer" class="footer ui-bar">
		<a data-role="button" data-icon="grid" href="/event/all">List All Events</a>
	  </div><!-- /footer -->
    </div>
</body>
</html>
