<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <title>Exante &raquo; <%= @title %></title>
    
    <meta name="description" content="An event planning application">
    
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/jq/smoothness/jquery-ui.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<%if @script%>
		<script src="/js/<%= @script %>"></script>
	<%end%>
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

</head>

<body>
    <div class="page">
	  <div class="header section">
		  <h1><a href="/">Exante App</a></h1>
		  <div class="nav section">
		  <ul>
			  <li><a href="/event/new">Create</a></li>
			  <li><a href="/event/all">List</a></li>
		  </ul>
		  </div><!-- nav -->
	  </div><!-- header -->
	  <hr />
	  <h2><%= @title %></h2>
	  <%= yield %>
	  <hr />
	  <div class="footer section">
		  <p class="copyright">Copyright &copy; 2011 Exante App.</p>
	  </div><!-- /footer -->
    </div>
</body>
</html>
