<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <title>Exante &raquo; <%= @title %></title>
    
    <meta name="description" content="An event planning application">
    
    <!--link rel="stylesheet" href="/css/screen.css"-->
    <!--link rel="stylesheet" href="/css/jq/smoothness/jquery-ui.css"-->
	<link rel="stylesheet" href="/css/jquery.mobile-1.0a4.1.min.css" />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/jquery.mobile-1.0a4.1.min.js"></script>
	<%if @script%>
		<script src="/js/<%= @script %>"></script>
	<%end%>
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

</head>

<body>
    <div data-role="page" class="page">
	  <div data-role="header" class="header section">
		  <h1><a href="/">Exante</a></h1>
		  <div class="nav section">
		  <ul>
			  <li><a href="/event/new">Create</a></li>
			  <li><a href="/event/all">List</a></li>
		  </ul>
		  </div><!-- nav -->
	  </div><!-- header -->
	  <div data-role="content" class="content">
		<h2><%= @title %></h2>
		<%= yield %>
	  </div><!-- content -->
	  <div data-role="footer" class="footer section">
		  <p class="copyright">Copyright &copy; 2011 Exante App.</p>
	  </div><!-- /footer -->
    </div>
</body>
</html>
