<div class="event_list">
<% @events.each_with_index do |event,i| %>
    <li <%= 'class="alt"' if i%2==1 %>><a href="/event/<%= event.id %>"></a><%= event.title %>
    <a href="/event/<%= event.id %>/delete">delete</a></li>
<% end %>
</div>

<img src="/images/penguin.png" alt="Tux waving"/>
<p>Would you like to <a href="/event/new" class="btn">create</a> one more?</p>