<form method="post" action="/user/create">
  <fieldset>
    <legend>User Details</legend>
    <label for="user">User Name</label><br />
    <input type="text" title="User Name" maxlength="" size="" name="user" id="user" value=""><br />
    <label for="first_name">First Name</label><br />
    <input type="text" title="First Name" maxlength="" size="" name="first_name" id="first_name" value=""><br />
    <label for="last_name">Last Name</label><br />
    <input type="text" title="Last Name" maxlength="" size="" name="last_name" id="last_name" value=""><br />
    <label for="email">Email</label><br />
    <input type="text" title="Email address" maxlength="" size="" name="email" id="email" value=""><br />
    <fieldset>
      <input type="submit" value="Create" />
      <a href="/">Cancel</a>
    </fieldset>
  </fieldset>
</form>
