<form method="post" action="/event/create">
  <fieldset>
    <ul data-role="listview" data-theme="c" data-dividertheme="b" data-inset="true">
      <li data-role="list-divider">Event Details</li>
      <li><label for="title">Title</label><br />
      <input type="text" title="What is the event called?" maxlength="" size="" name="title" id="title" value=""><br /></li>
      <li><label for="description">Description</label><br />
      <textarea title="Enter a short description of the event" name="description" id="description" rows="5" cols="25"></textarea></li>
    </ul>
    <ul data-role="listview" data-theme="c" data-dividertheme="b" data-inset="true">
      <li data-role="list-divider">When</li>
      <li><label for="start_date">Start Date</label><br />
      <input type="text" title="When does it start?" name="start_date" id="start_date" value="" placeholder="yyyy-mm-dd"></li>
      <li><label for="start_time">Start Time</label><br />
      <input type="text" title="What time does it start at?" name="start_time" id="start_time" value="" placeholder="8:30"></li>
      <li><label for="end_date">End Date</label><br />
      <input type="text" title="When does it end?" name="end_date" id="end_date" value="" placeholder="yyyy-mm-dd"></li>
      <li><label for="end_time">End Time</label><br />
      <input type="text" title="What time does it end at?" name="end_time" id="end_time" value="" placeholder="17:30"></li>
      <li><label for="all_day" data-inline="true">
      <input type="checkbox" title="This event lasts 24 hours" name="all_day" id="all_day" value="All Day">All Day</label></li>
    </ul>
    <ul data-role="listview" data-theme="c" data-dividertheme="b" data-inset="true">
      <li><label for="location">Location</label><br />
      <input type="text" title="Where is it happening?" maxlength="" size="" name="location" id="location" value=""></li>
      <li><label for="guest_list">Guests</label><br />
      <textarea title="Guest email address list. One per-line." name="guest_list" id="guest_list" rows="5" cols="25"></textarea></li>
      <li><label for="privacy_setting" data-inline="true">
      <input type="checkbox" title="This event is private" name="privacy_setting" id="privacy_setting" value="Private">Private</label></li>
    </ul>
    <fieldset>
      <input type="submit" data-theme="b" data-inline="true" value="Create" />
      <a data-role="button" data-inline="true" href="/">Cancel</a>
    </fieldset>
  </fieldset>
</form>
