<ul class="user_list">
    <li>
		<p>Full Name: <%= @user.first_name %> <%= @user.last_name %></p>
		<p>Email: <%= @user.email %></p>
		<p>Status: <%= @user.status ? 'Enabled':'Disabled' %></p>
	</li>
</ul>

