html, body, h1, form, fieldset, legend, ul, li {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}

form#frm_newevent {
	background: #9cbc2c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	width: 550px;
}

form#frm_newevent fieldset {
	border: none;
	margin-bottom: 10px;
}

form#frm_newevent fieldset:last-of-type  {
	margin-bottom: 0px;
}

form#frm_newevent legend {
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #c0d576;
}

form#frm_newevent fieldset fieldset legend {
	color: #111;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 0;
}

form#frm_newevent ul li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}

form#frm_newevent label {
	/*float: left;*/
	font-size: 13px;
	width: 110px;
	margin-right: 20px;
}

form#frm_newevent fieldset fieldset label {
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}


form#frm_newevent input:not([type=radio]), 
form#frm_newevent textarea {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	width: 200px;
}

form#frm_newevent input:not([type=submit]):focus,
form#frm_newevent textarea:focus {
	background: #eaeaea;
}

form#frm_newevent button {
	background: #384313;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	display: block;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: auto;
	margin-right: 10px;
	margin-top: 5px;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
	float: left;
}

form#frm_newevent button:hover {
background: #1e2506;
cursor: pointer;
}

/* Form field styles */
form#frm_newevent input#title,
form#frm_newevent input#location {
	width: 400px;
}

form#frm_newevent textarea#description,
form#frm_newevent textarea#invitees_email {
	width: 400px;
}
