/*
 Title:		Exante Master Styles
 Author:	<arunan.skanthan@gmail.com>
 License:	GPL (www.gnu.org/licenses/gpl.html)
*/

/*
 COLOUR PALETTE
 ---------------------------------------------
 Lightest Red:		#ef2929;
 Light Red:			#cc0000;
*/

@import url(reset.css);

body {
	font: normal 100% Palatino,Georgia,Times,serif;
	line-height: 1.5em;
}

hr {
	display: none;
}

.page {
	margin: 0 auto;
	max-width: 60em; /* 960px / 16px = 60em */
}

.section:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.amp {
	font-family: Baskerville,Garamond,Palatino,"Palatino Linotype","Hoefler Text","Times New Roman",serif;
	font-style: italic;
}

.btn {
	background: #333;
	color: #fff;
	margin: 0.3125em;
	padding: 0.3125em 0.625em;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.btn:hover {
	background: #666;
}

.required {
	background: #ffcccc;
}

/* =HEADER
--------------------------------------------- */

.header {
	margin: 1em 0;
	padding: 0.5em;
	border-bottom: 5px solid #ccc;
}

.header h1 {
	float: left;
	font-size: 2em;
	line-height: 1em;
}

.header a {
	color: #666;
	text-decoration: none;
}

.header a:hover {
	color: #999;
}

/* =NAV
--------------------------------------------- */

.nav {
	float: right;
	font-size: 0.875em;
	text-align: center;
	text-transform: uppercase;
}

.nav li {
	float: left;
	width: 10em;
	border-right: 1px solid #ccc;
}

.nav li:last-child {
	border-right: none;
}

.nav li a {
	padding: 0.25em 0.5em;
}

/* =FOOTER
--------------------------------------------- */

.footer {
	margin: 1em 0;
	padding: 0.5em;
	border-top: 1px solid #ccc;
}

.footer p {
	color: #999;
}

/* =CONTENT
--------------------------------------------- */

.content {
	padding: 1em;
}

.content h2 {
	font-size: 3em;
	margin-bottom: 1em;
}

	ul.event_list {
	border-top: 1px dotted #ccc;
}

.event_list li {
	list-style: none;
	border-bottom: 1px dotted #ccc;
	padding: 1em 0;
}

.event_list a {
	font-size: 2em;
}

.event_list li a.btn {
	float: right;
	font-size: 1em;
}

form {
	width: 30em;
}

label {
	float: left;
	width: 35%;
	text-align: right;
	clear: both;
	padding: 0.25em 0;
}

input[type="text"], input[type="password"], textarea {
	float: left;
	/*width: 60%;*/
	border: 1px solid #999;
	margin: 0.5em 1em;
	padding: 0.25em 0;
}

form br {
	display: none;
}

fieldset {
	border: 1px solid #eee;
	padding: 1em;
	clear: both;
}

input[type="checkbox"] {
	float: left;
}

/* =FORMS
--------------------------------------------- *

fieldset fieldset {
	padding: 10px;
}

fieldset fieldset fieldset {
	border-top: 1px solid #ccc;
}

.alt {
	background: #ccc;
}


/* =MOBILE
--------------------------------------------- */
@media screen and (max-width: 480px) and (min-width: 320px) {
    body {
        background: none;
    }
    
    .page {
        margin: 0;
        width: auto;
    }
    
    .header {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
    
    .header h1 {
        float: none;
        font-size: 3em;
    }
    
    .nav {
        border-top: 1px dotted #222;
        float: none;
    }
    
    .nav li {
        border: none;
        padding: 0.5em 0;
        width: 25%;
    }
    
    .footer .social, .footer.copyright {
        float: none;
    }
}
